<div class="container">
          <h1> {{title}}</h1>

      <br><br>
      <h2> Your Budget is {{budget | currency}}</h2>

      <div class="input">

<form class="form-inline">
  <div class="form-group">
    <input type="name" class="form-control" id="forWho" placeholder="Name" ng-model="userName">
  </div>
    <div class="form-group">
    <input type="input" class="form-control" id="userWants" placeholder="What to buy" ng-model="whatToBuy">
  </div>

     <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="InputAmount" placeholder="Amount" ng-model="amount">
    </div>
  <button type="submit" class="btn btn-primary" id="add" ng-click="makeAWish(userName, whatToBuy, amount)">Add a wish</button>
</form>



      </div>


      <div class="wishes">

          <h2 id="wishes">Wishes</h2>
          <ul>
            <li>Total Wishes = {{totalWishes}}</li>
            <li>Total price = {{getTotal() | currency}}</li>

          </ul>
           <table class="list" >

             <form id="search">
     <div class="form-group">
       <div class="input-group">
         <div class="input-group-addon"><i class="fa fa-search"></i></div>

         <input type="text" class="form-control" placeholder="Search da wish" ng-model="searchWish">

       </div>
     </div>
   </form>
                <th></th>
                <th><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                    Name
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>

                    </a></th>
                <th>
                    <a href="#" ng-click="sortType = 'toBuy'; sortReverse = !sortReverse">
                    <span ng-show="sortType == 'toBuy' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'toBuy' && sortReverse" class="fa fa-caret-up"></span>
                    To buy

                    </a></th>
                <th>
                    <a href="#" ng-click="sortType = 'price'; sortReverse = !sortReverse">
                    <span ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></span>
                        Price
                    </a>
               </th>
                <th></th>

                   <tr ng-repeat="wish in wishes | orderBy:sortType:sortReverse | filter:searchWish">
                       <td class='glyphicon glyphicon-star' id="favourite" ng-click="approve(wish)"></td>
                       <td class="name"> <a href="#" editable-text="wish.name"> {{wish.name}}</a> </td>
                       <td class="toBuy"> <a href="#" editable-text="wish.toBuy"> {{wish.toBuy}}</a> </td>
                       <td class="price"> <a href="#" editable-text="wish.price"> {{wish.price | currency}}</a></td>
                       <td class='glyphicon glyphicon-remove' id="remove" ng-click="removeWish(wish)"></td>
                    </tr>


          </table>

      </div>
